
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl | prepend: site.url }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/contrib/auto-render.min.js" type="text/javascript"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>

    <div id="nav-toggle">
      <img src="{{ site.baseurl }}/menu_icon.png" width="20" height="20">
    </div>

    <header class="site-header">
      <h1>
        <a class="site-title" href="{{ site.baseurl | prepend: site.url }}/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
      </h1>

      <div class="site-header-subtitle">
        <u>
          <a href="https://github.com/isleofcode/ember-cordova/releases">
            Current Relase: v0.3.9
          </a>
        </u>
      </div>
    </header>

    <div id='nav-container'>
      <nav class="nav-items">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/setup_guide">Install/Setup</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/cli">CLI</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/live_reload">Livereload</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/default_webviews">Default WebViews</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/service_cordova">Cordova Service</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/service_platform">Platform Service</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/service_splash">Splash Service</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/service_keyboard">Keyboard Service</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/service_network">Network Service</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/service_statusbar">Status Bar Service</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/hooks">Hooks</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/icon_management">Icon Generation</a>
        <a class="nav-link" href="{{ site.baseurl }}/pages/help">Help</a>
        <a class="nav-link" href="https://github.com/isleofcode/ember-cordova">Github</a>
        <a class="nav-link" href="https://github.com/isleofcode/ember-cordova/releases">Version Notes</a>

      </nav>
    </div>

    <div class="content" role="main">
      {{ content }}
    </div>

    {% if paginator %}
      <nav class="pagination group" role="navigation">
        {% if paginator.next_page %}
          <a href="{{paginator.next_page_path}}">&larr;</a>
        {% endif %}
        {% if paginator.previous_page %}
          <a href="{{paginator.previous_page_path}}">&rarr;</a>
        {% endif %}
      </nav>
    {% endif %}

    <footer class="site-footer">
        <small class="copyright">
          Copyright &copy <a href="https://isleofcode.com">Isle of Code</a>.
          ember-cordova is built by <a href="https://isleofcode.com">Isle of Code</a> in Toronto.
          <br><br>
          Jekyll theme based on a modified version of sudo theme by <a href="https://github.com/oneohthree?tab=overview&from=2016-08-01&to=2016-08-31&utf8=%E2%9C%93">oneohthree</a>
        </small>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50368464-3', 'auto');
      ga('send', 'pageview');
    </script>

    <script>
      renderMathInElement(
        document.body,
        {
          delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "\\[", right: "\\]", display: true},
            {left: "$", right: "$", display: false},
            {left: "\\(", right: "\\)", display: false}
          ]
        }
      );
    </script>

    <script type="text/javascript">
      var toggle = document.getElementById('nav-toggle');
      var navContainer = document.getElementById('nav-container');

      var toggleHandler = function(event) {
        var display = window.getComputedStyle(navContainer).display;
        if(display === 'none') {
          navContainer.style.display = 'block';
        } else {
          navContainer.style.display = 'none';
        }
        event.preventDefault();
      }
      toggle.addEventListener('touchstart', toggleHandler);
      toggle.addEventListener('click', toggleHandler);

      var bodyTouchHandler = function(event) {
        if(window.getComputedStyle(toggle).display !== 'none' &&
           !toggle.contains(event.target) &&
           !navContainer.contains(event.target))
        {
          navContainer.style.display = 'none';
        }
      }
      document.body.addEventListener('touchstart', bodyTouchHandler);
      document.body.addEventListener('click', bodyTouchHandler);
    </script>
  </body>
</html>
